body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #424eb8;
}

#cabeçalho {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: flex-start; /* Alinhando à esquerda */
    align-items: center;
    padding: 0 20px;
}

.logo {
    width: 50px; /* Definindo a largura da imagem */
    height: auto; /* Mantendo a proporção */
    margin-right: 20px; /* Espaço entre a logo e os botões */
}

.header-buttons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.search-container {
    display: flex;
}

.search-input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.search-button {
    padding: 5px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#conteudo {
    padding: 20px;
}

.card {
    background: linear-gradient(135deg, #1b142c, #4336fe);
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.imagem-container {
    display: flex; /* Permite que as imagens fiquem lado a lado */
    justify-content: center; /* Centraliza as imagens horizontalmente */
    margin: 20px 0; /* Espaço acima e abaixo do contêiner */
}

.imagem {
    max-width: 45%; /* Define a largura máxima das imagens */
    margin: 0 10px; /* Espaço entre as imagens */
}

#rodape44 {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
